<!doctype html>
<html lang="en">
  <head>
  </head>
  <body>
    <p>There was an error with the confirmation process. If you were trying to verify your email with GoPursue, please contact michael@gopursuecareer.com</p>
  </body>
</html>
  