// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.card.mb-2.formBG {
    background-color: #9BB7D4;
    
}

#formBG {
    background-color: #9BB7D4;
    
}

.formHeaders {
    color: #282D3C;
}


