/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/*nav bar*/
#bookmark {
    font-size: 2rem;
}

.pay {
    font-size: 1rem;
}

#careerCardImg {
    object-fit: cover;
}

.text-container {
    position: relative;
    color: white;
}

.bottom-left {
    position:absolute;
    bottom: 8px;
    left: 16px
}

#newUser_age {
    border-style: none none solid none;
}

#newUser_name {
    border-style: none none solid none;
}

#profileIcon {
    font-size: 5rem;
}

