/*nav bar*/
#navLogo {
  width: 60%;
  height: 60%;
}

.title {
    font-size: 1em;
    font-family: 'Julius Sans One', sans-serif;
}

.aboutTitle, #underConText, .support {
    font-family: 'Julius Sans One', sans-serif;
}

.aboutText, #subtitle {
    font-family: 'Montserrat', sans-serif;
    font-size: .5em;
}

.navBorder {
  border: 5px solid #035928;
}

.navbar-light .navbar-nav .nav-link {
  color: #035928
}

.navText {
  color: rgba(0,0,0,.55);
}

@media (max-width: 1200px) {
  #navbarText {
    /*font-family: 'Cabin Condensed', sans-serif;*/
    font-size: 1.5rem;
  }
}
@media (min-width: 1201px) {
  #navbarText {
    /*font-family: 'Cabin Condensed', sans-serif;*/
    font-size: 2rem;
  }
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-toggle::after {
    content: none;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background-color: #035928;
}

/*footer*/

#footerLogo {
  width: 10rem;
  height: 7rem;
}

/* construction.html*/
.bgImg {
    background-image: url(../pics/nature_new.jpg);
    opacity: 0.8;
    height: 960px;
}

/* mission.html */

  iframe {
  width: 32rem !important;
  height: 18rem  !important;
  }

/* teams.html */

/*card flip*/
.card-flip > div {
    backface-visibility: hidden;
    transition: transform 300ms;
    transition-timing-function: linear;
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
  }
  
  .card-front {
    transform: rotateY(0deg);
  }
  
  .card-back {
    transform: rotateY(180deg);
    position: absolute;
    top: 0;
  }
  
  .card-flip:hover .card-front {
    transform: rotateY(-180deg);
  }
    
  .card-flip:hover .card-back {
    transform: rotateY(0deg);
  }

  .cardImg {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }